<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div id="footer">
    <div id="row">
        <div class="col1">
            <ul>
                <li><u>Links</u></li>
                <li><a routerLink="/">HOME</a></li>
                <li><a routerLink="/about">ABOUT</a></li>
                <li><a routerLink="/characters">CHARACTERS</a></li>
                <li><a routerLink="/news">NEWS</a></li>
                <li><a routerLink="/contact">CONTACT</a></li>
            </ul>
        </div>

                <div class="col2">
                    <ul>
                        <li><a href=""><u> Contact Us </u></a></li>
                        <li>ncomics20@gmail.com</li>
                    </ul>
                </div>

                <div class="col3">
                    <h5>Work with us</h5>
                    <p><a routerLink="/contact">Currently, we don't have any open position. We <br> will update as and when there is a requirement. <br>You can fill your detail. Stay tuned.</a></p>
                </div>

                <div class="col4">
                    <p>&copy; <br>Copyright 2022 <br>N Comics <br><img src="assets/images/31.jpg" alt=""></p>
                </div>
    </div>
</div>

<div class="footer1">
    <a href="">   <i class="fa-brands fa-instagram"></i></a>
    <a href=""> <i class="fab fa-facebook-f"></i></a>
    <a href=""> <i class="fa-brands fa-youtube"></i></a>
</div>

