<div class="box">
    <div class="img1"><img src="assets/images/ncb.jpg" alt=""></div>
    <div class="img1 img2"><h1>ENTERTAINING
        GENERATIONS</h1><p>At N Comics, we’re driven by our passion to create comics that captivate and entertain and in the process find a place in the readers' hearts. We started this journey in 28 june 2020 and found widespread success immediately afterwards. In 2020, we released the first issue of Blackhole which went on to become a critical and commercial hit and in no time Blackhole became the greatest action super-hero of India. After that we established ourselves as a home of Indian Superheroes and introduced a number of other characters like Tezas, Gillu, Rahsaymayi Kahaniyan and other publication N Chitra Katha and N pocket Books.</p><div class="img6"><img src="assets/images/nik.jpg" alt=""></div><p>N Comics follows the philosophy of our Yuvraj Verma.

        </p></div>
    <div class="img1"><img src="assets/images/g.jpg" alt=""></div>
</div>
