.img1 img{
    width: 100%;
    height: 600px;
}

.box{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(60, 59, 59);
    height: 660px;
    
}

.img2{
    color: aliceblue;
    background-color: tomato;
    width: 50%;
    text-align: center;
    padding-top: 65px;
}

.img2 h1{
    font-size: 65px;
}

.img6 img{
    height: 100px;
    width: 20%;
}

@media screen and (max-width: 768px){
    .box{
        flex-direction: column;
        height: 2000px;
    }

    .img2{
        width: 100%;
    }
    .img2 h1{
        font-size: 35px;
    }
}

